<h1><%= @employee.username %></h1>
<!-- <a href="/employees/<%= @employee.id %>/edit">Edit <%= @employee.username %></a> -->
<h2>Employee: <%= @employee.username %></a> </h2>
<h2>Employee ID: <%= @employee.id %></h2>
