<h2>Edit Party Details</h2>
<h3>Table number: <%= @party.table_number %></h3>
<form action="/parties/<%= @party.id %>" method="POST">

  <label for="party_size">Party Size</label> 
  <input id="party_size" type="text" name="party[guests]" value="<%= @party.guests %>"><br>

  <label for="food_name">Food</label>
  <select name="order[food_id]">
    <% @foods.each do |food| %>
    <option id="food_name" type="text" value="<%= food.id %>"><%= food.name %></option>
    <% end %>
  </select>

  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="mehhhh!">
</form>