<h1>Checkout stage !</h1>

<h3>Party ID:</h3>
<p><%= @receipt.party_id %></p>
<table style="margin: 0 auto">
	<tr>
		<th width="45%">Food Ordered</th>
		<th width="45%">Price</th>
	</tr>
		<% @receipt.foods.map do |food| %>
	<tr>
		<td><%= food.name %></td>
		<td>&pound;<%= food.price %></td>
	</tr>
		<% end %>
</table>

<h3>Sub-total:</h3>
<p>&pound;<%= @receipt.sub_total %></p>

<h3>Suggested tip amounts:</h3>
<form action="/closed/<%= @party.id %>" id="tip_selection" method="POST">

<label for="gratuity">Suggested tip amounts:</label>
<select name="receipt[gratuity]">
	<option id="gratuity" type="integer" value="<%= @receipt.sub_total.to_f/6 %>">15%: &pound;<%= @receipt.sub_total.to_f/6 %></option>
	<option id="gratuity" type="integer" value="<%= @receipt.sub_total.to_f/5 %>">20%: &pound;<%= @receipt.sub_total.to_f/5 %></option>
	<option id="gratuity" type="integer" value="<%= @receipt.sub_total.to_f/4 %>">25%: &pound;<%= @receipt.sub_total.to_f/4 %></option>
</select>

<input type="hidden" name="_method" value="PATCH">
<input type="submit" value="Clothes Check">
